:root {
    --left-space: 8rem;
    --transition-time: 0.3s;
}

@mixin border-shadow {
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header {
    margin-block: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: underline;
}

.main {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    justify-content: center;
}


footer {
    padding: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: orange;
}

.form {
    @include border-shadow();
    // margin: 0 auto;
    padding: 1.5rem;
    width: min(600px, 100%);
    border-radius: 10px;
    display: grid;
    gap: 2rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons button {
    flex: 1 1 auto;
}

.loadExample {
    background-color: rgb(236, 224, 199);
}

.reset {
    background-color: rgb(236, 199, 199);
}