:root {
    --primary: #313c4e;
}

@mixin border-shadow {
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.Preview {
    @include border-shadow();
    width: min(800px, 100%);
    aspect-ratio: 8.5/11;
    position: sticky;
    top: 1rem;

}

.header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2rem;
}

.contact {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    font-size: 1.2rem;
}

.email,
.phone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;

    img {
        width: 25px;
    }
}

.main {
    padding: 2rem;
}

.sectionTitle {
    margin-block: 1rem;
    color: var(--primary);
}

.item {
    margin-bottom: 0.5rem;
}

.item__header {
    display: flex;
    justify-content: space-between;
}

.item__title {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
}

.item__company {
    color: gray;
    font-size: 0.9rem;
}

.item__period {
    font-size: 0.8rem;
    color: gray;
}